* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// .features {
//     margin-top: 200px;
// }

// .image {
//     margin-top: 76px;
//     margin-left: 5%;
// }

// .image img {
//     margin-left: 5%;
// }

// .text {
//     margin-left: 10%;
//     font-size: 20px;
//     font-weight: 500;
// }

// .author {
//     font-weight: 500;
//     font-size: 15px;
//     margin-left: 40%;
// }

// * {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// .navbar {
//     box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
//     border-radius: 13px;
// }



// .navbar .navbar-nav {
//     color: black;
//     font-size: 20px;
//     margin-right: 50%;
//     display: flex;
// }

// .navbar .navbar-nav .navbar-brand {
//     text-decoration: none;
//     text-transform: capitalize;
//     position: relative;
//     border-bottom: 2px solid #000;
// }

// .navbar-scroll .nav-link {
//     color: black;
//     margin-left: 20px;
//     margin-right: 20px;
// }

// .navbar-scroll .nav-link,
// .navbar-scroll .fa-bars,
// .navbar-scroll .nabar-brand {
//     color: #000000;
// }

// .navbar-scroll .nav-link:hover {
//     color: #1266f1;
// }

// /* Color of the links AFTER scroll */
// .navbar-scrolled .nav-link,
// .navbar-scrolled .fa-bars,
// .navbar-scrolled .nabar-brand {
//     color: #4f4f4f;
// }

// /* Color of the navbar AFTER scroll */
// .navbar-scroll,
// .navbar-scrolled {
//     background-color: #e0e0e0;
// }

// /* An optional height of the navbar AFTER scroll */
// .navbar.navbar-scroll.navbar-scrolled {
//     padding-top: 5px;
//     padding-bottom: 5px;
// }

// body {
//     background-color: #ffffff;
// }
// .navbar-brand {
//     margin-left: 10%;
// }

// .btn {
//     text-align: center;
//     width: 125px;
//     font-size: 16px;
//     font-weight: 600;
//     color: #fff;
//     cursor: pointer;
//     height: 50px;
//     border: none;
//     background-size: 300% 100%;
//     border-radius: 50px;
//     moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
//     background-image: linear-gradient(
//         to right,
//         #25aae1,
//         #4481eb,
//         #04befe,
//         #3f86ed
//     );
//     box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
// }

// .btn:hover {
//     background-position: 100% 0;
//     moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
// }

// .btn-hover:focus {
//     outline: none;
// }
